.Rproj.user
.Rhistory
.RData
.DS_Store

# 1. Ignore R outputs
outputs/figures/*
outputs/tables/*
outputs/spatial/*
!outputs/.keep

# 2. Ignore ALL Data Inputs (Shapefiles, DBFs, Zips)
data/input_data/*
!data/input_data/.keep

# (The line above "!data/input_data/.keep" allows the empty folder structure to exist on GitHub, 
#  but blocks the actual data files inside it).